---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A small description about Good Vibes Only!"
	pubDate={new Date('August 08 2023')}
	heroImage="/heroImage.png"
>
	<p>
		GVO is a Discord bot made for everyone to use. It has the ability to prevent undesirable content from affecting your server and even provides motivation to encourage positive actions. Our special quotes package, created by <a href="https://www.npmjs.com/package/sappquotes">Ducko</a>, offers uplifting quotes to help brighten your mood. If you're feeling down or in need of assistance, feel free to reach out to us. Remember, there's always hope for you, and we're here to support you.
	</p>
</Layout>
